*, *::after, ::before {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    /* background-color: rgb(15, 23, 42); */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

/* Style for keyboard */

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;
}

.key {
    font-size: inherit;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    user-select: none;
    /* border: none */
}

.key.large-btn {
    grid-column: span 3;
    padding: 0;
    margin: 0;
}

.absent {
    border: none;
    border-radius: 2px;
    background-color: #787c7e;
}

.present {
    border: none;
    border-radius: 2px;
    background-color: #c9b458;
}

.correct {
    border: none;
    border-radius: 2px;
    background-color: #6aaa64;
}

/* Style for guess-grid */

.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;
}

.tile {
    font-size: 2em;
    border: .05em solid #d3d6da;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.tile[data-state="active"] {
    border-color: ;
}

.tile[data-state="absent"] {
    border: none;
    background-color: #787c7e;
}

.tile[data-state="present"] {
    border: none;
    background-color: #c9b458;
}

.tile[data-state="correct"] {
    border: none;
    background-color: #6aaa64;
}